@import url('https://fonts.cdnfonts.com/css/telegraf');
@import url('https://fonts.cdnfonts.com/css/garet');

body{
    margin: 0;
    padding: 0;
    background-color: #f7f3cf;
}

#inicio{
    text-align: center;
}

header{
    padding-bottom: 100px;
    margin-bottom: 220px ;
    background-color: #176585 ;
    overflow-x:scroll;
}

header button{
    height: 80px;
    border-radius: 15px;
    background-color: #27b1bf;
    font-family: 'Garet', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

h1{
    font-size: 8rem;
    font-family: Telegraf;
    font-weight: 500;
    margin: 0;
}

.imagemIndex{
    position: absolute;
    z-index: -1;
}